.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 2s ease-in-out;   
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 3s ease-in-out;

}

.ex-3-square:hover {
    border-radius: 180%;
}

.ex-4-square {
    transition: 3s ease;
}

.ex-4-square:hover {
    opacity: 0;
}


.ex-5-square {
    transition: 1s ease-in-out;
}

.ex-5-square:hover {
    margin: 0;
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    margin: 35px;
    width: 30px;
    height: 30px;
}

.ex-6-img {
    transition: 1s ease;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* .ex-7-img:hover {
    animation-duration: 3s;
    animation-name: img_filter;
    animation-iteration-count: infinite;
}

@keyframes img_filter {
    from {
      filter: grayscale(0);
      filter: sepia(0);
    }
  
    75% {
        filter: grayscale(0.3);
        filter: sepia(0.2);
    }
  
    to {
        filter: grayscale(0.5);
        filter: sepia(0.5);
    }
  } */

.ex-7-img {
      transition: 1s linear;
}

.ex-7-img:hover {
      filter: grayscale(0.5);
      filter: sepia(0.5);
}

.ex-8-img {
    transition: 1s ease-in-out;
}

.ex-9-img:hover {
    filter: grayscale(0.5);
    filter: sepia(0.5);
    border-radius: 5%;
}

.ex-9-img {
    transition: 3s ease;
}

.ex-9-img:hover {
    filter: grayscale(0.5);
    filter: sepia(0.5);
    border-radius: 5%;
    transform: scale(1.4);
}

.ex-10-icon {
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotate {
    100% {
        transform: rotate(-360deg);
      }
  }
      
.ex-11-icon:hover {
    animation-duration: 2s;
    animation-name: half_rotate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes half_rotate {
    75% {
        transform: rotate(320deg);
      }
    
    100% {
        transform: rotate(0deg);
      }
  }

  .ex-12-button:hover .ex-12-top-white {
    animation: 2s border_top ease;

  }

.ex-12-button:hover  .ex-12-bottom-white {
    animation: 2s border_bottom ease 1;
}

@keyframes border_top {
    50% {
        transform: translate(90px);
    }
}

@keyframes border_bottom {
    50% {
        transform: translate(-90px);
    }
}


.ex-13-button:hover .ex-13-top-white {
    animation: 3s border_top_full ease;
    animation-iteration-count: 3;

  }

.ex-13-button:hover  .ex-13-bottom-white {
    animation: 3s border_bottom_full ease;
    animation-iteration-count: 3;
}

@keyframes border_top_full {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: calc(100% - 10px);
     
    }
    50% {
        top: 100%;
        left: calc(100% - 10px);
        
    }
    75% {
        top: 100%;
        left: -10%;
       
    }
    90% {
        top: -10px;
        left: -10%;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}

@keyframes border_bottom_full {
    0% {
        bottom: -10px;
        right: 20%;
    }
    25% {
        bottom: -10px;
        right: 80%;
     
    }
    50% {
        bottom: 100%;
        right: 80%;
        
    }
    75% {
        bottom: 100%;
        right: calc(0% - 10px);
       
       
    }
    90% {
        bottom: -10px;
        right: calc(0% - 10px);
       
    }
    100%{
        bottom: -10px;
        right: 20%;
       
    }
}

